body {
    margin: 0;
    padding: 0;
}

#hero {
    background: url('../img/bg.jpg') no-repeat;
    background-size: cover;
    /* background-position: 0 20%; */
    background-attachment: fixed;
}
.navbar-dark.bg-dark {
	z-index: 9999;
	/* margin: 0 -1rem; */
}
.hero-wrapper {
    position: relative;
    color: #fff;
}

.hero-wrapper:before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}



/* .is-sticky .navbar-dark.bg-dark {
    background-color: #fff !important;
}
 */

#header {
    background-color: #343a40;
}

.is-sticky #header {
    background-color: #f8f9fa !important;
}

@media screen and (min-width: 768px) {
	#header {
		background-color: transparent;
	}
    .navbar-dark.bg-dark {
        background-color: transparent !important;
    }
    .navbar-dark.bg-dark {
		margin: 0 0;
	}
}

@media screen and (min-width: 992px) {
    .py-6 {
        padding: 9rem 0;
    }
}